<section id="skills" class="skills">
  <h3 class="skills__title">Skills</h3>
</section>

<style>
  .skills{
    margin-bottom: 84px;
    margin-top: 62px;
  }

  .skills__title{
    color: var(--white);
    font-family: var(--font-bold);
    font-size: 3.5rem;
    text-align: center;
    margin: 32px 0px;
  }
</style>